.about-wrapper {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 10vh;
    height: min-content;
    display: flex;
    flex-direction: row;
}
.about-wrapper img {
    width: auto;
    height: 500px;
    box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.3);
    /* outline: 15px solid #d94458; */
    outline-offset: 8px;
    transition: .2s;
}
.about-wrapper img:hover {
    /* outline: 15px solid #d94458; */
    outline-offset: 0px;
    transition: .2s;
}
.text-container {
    display: flex;
    flex-direction: column;
}
.about-wrapper p {
    margin-left: 5vw;
    /* margin-top: -1vh; */
    font-size: 1.2rem;
    font-weight: 400;
    width: 85%;
    line-height: 4.5vh;
    font-family: 'Avenir','Lato', Helvetica,Arial , sans-serif;
    color: #323748;
    /* opacity: .7; */
}
.about-wrapper p span {
    font-weight: 600;
}
#second-about {
    margin-top: 2vh;
}

.young {
    height: 75px!important;
    width: 75px!important;
}