.education-experience-wrapper {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}
.education-experience-wrapper h1 {
    font-size: 1.5rem;
    color: #323748;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
.experience {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.company {
    margin-top: 5vh;
}
.company-title {
    font-size: 1.1rem;
    color: #323748;
    font-weight: 600;
    margin-bottom: 1.5vh;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
.company-subtitles {
    font-size: 1.1rem;
    margin-top: .5vh;
    color: #323748;
    opacity: .8;
    font-weight: 100;
    margin-bottom: 1.5vh;
    margin-top: -1vh!important;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
.company a {
    font-size: 1.1rem;
    margin-bottom: 1.5vh;
    color: #d94458;
    font-weight: 100;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
    text-decoration: none;
}
.company a:hover {
text-decoration: underline;
}
.timeline {
    font-size: 1.1rem;
    color: #323748;
    font-weight: 100;
    margin-top: 1.5vh;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
.education-skills {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.skills-tolls {
    height: 500px;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
}
.skills-tolls h1{
    font-size: 1.5rem;
    color: #323748;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
.tools {
    margin-left: 7vw;
}
.tools p {
    font-size: 1rem;
    color: #323748;
    opacity: .8;
    font-weight: 100;
    margin-top: 1.5vh;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
.skills p {
    font-size: 1rem;
    opacity: .8;
    color: #323748;
    font-weight: 100;
    margin-top: 1.5vh;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
@media screen and (min-width: 1900px) {
    .tools p {
        font-size: 1.1rem!important;
    }
    .skills p {
        font-size: 1.1rem!important;
    }
}

@media (max-width: 600px) {
    .education-experience-wrapper {
        width: 105vw;
        margin-left: 10vw;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
    }
    .education-experience-wrapper h1 {
        font-size: 1.5rem;
        color: #323748;
        margin-top: 10vh;
        font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
    }
    .tools {
        margin-left: 15vw;
    }
    .tools p {
        font-size: 1.2rem;
    }
    .skills p {
        font-size: 1.2rem;
    }
}