.footer {
    height: 10vh;
    margin-top: 15vh;
    width: 100vw;
    background-color: #f2f2f2;
}
.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.footer-icons-wrapper {
    margin-top: -3vh;
    padding: 0;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
}
.footer-icons-wrapper a {
    font-size: 5rem;
    color: #323748!important;
    padding: 0!important;
}
.footer-icon {
    font-size: 1.7rem;
    padding: 0;
    color: #323748!important;
    margin-left: 1.5vw;
    transition: .2s;
}
.footer-icon:hover {
    color: #d94458!important;
    transition: .2s;
}
.corny {
    margin-left: auto;
    margin-top: 3.25vh;
    margin-right: 10vw;
}
.corny p {
    font-size: 1rem;
    color: #323748;
    font-weight: 100;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
}
@media screen and (min-width: 1900px) {
    .corny p {
        font-size: 1.1rem!important;
    }
    .footer-icons-wrapper {
        margin-top: -2vh;
        padding: 0;
        margin-left: 15%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .footer {
        height: 10vh!important;
        margin-top: 25vh!important;
        width: 130%;
    }
    .footer-icons-wrapper {
        margin-left: 8%;
    }
    .footer-icon {
        font-size: 1.5rem;
        padding: 0;
        color: #323748!important;
        margin-left: 2vw;
        transition: .2s;
    }
}