html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #fafafa;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: #fafafa;
  }
.nav {
    display: flex;
    margin:0;
    padding:0;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    background-color: #fafafa;
    font-family:  Avenir,Lato, Arial, Helvetica, sans-serif;
}
.nav-title {
    font-size: 1.4rem;
    font-weight: 900;
	color: #d3d1d1;
    margin:0;
    padding-top: 2vw;
    border-radius: 7px;
    padding-right: 2vw;
    padding-left: 3px;
    background-color: #D94558;
    margin-top: 2.5vh;
    margin-left: 5vw;
    transition: background .2s ease-in;
}
#nav-title {
    opacity: 1;
    font-weight: 900;
	color: #fff;
    letter-spacing: 1px;
    transition: .3s;
    font-family: 'Lato', 'Avenir',Helvetica,Arial , sans-serif;
    transition: background .2s ease-in;
}
.nav-title:hover {
    background-color: #255F85!important;
    /* transition-timing-function: ease-in-out; */
    transition: background .2s ease-in;
    cursor: pointer;
}
/* #nav-title:hover {
    transition-timing-function: ease-in-out;
    transition: .2s;
} */
.nav-item-wrapper {
    display: flex;
    margin:0;
    padding:0;
    flex-direction: row;
    margin-left: auto;
    margin-top: 5vh;
    margin-right: 5vw;
    text-decoration: none;
}
.nav-item {
    font-size: 1rem;
    margin:0;
    padding:0;
    text-decoration: none!important;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.page-tabs .nav-link {
    cursor: pointer;
    color: #323748;
    opacity: .3;
    transition: .2s;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
    font-weight: 500;
    transition-timing-function: ease-in-out;
    padding: 7px;
    border-radius: 3px;
}
/* .page-tabs .nav-link:hover {
    background-color: #e1e5e5;
    opacity: 1;
} */
.nav-item .nav-link:hover {
    background-color: #e1e5e5;
    opacity: 1;
}
.page-tabs .nav-link.active {
    color: #D94558;
    opacity: 1;
    font-weight: 600;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
    transition: .2s;
    transition-timing-function: ease-in-out;
}
.page-tabs .nav-link.active:hover {
    color: #D94558;
    opacity: 1;
    background-color: transparent;
}