.selected-work {
    margin-top: 12vh;
    margin-left: 8vw;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
    color: #323748;
    font-weight: 500;
    opacity: .9;
    font-size: 1.4rem;
}
.filter-wrappers {
    /* width: 45vw; */
    height: min-content;
    margin-left: 8vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}
.filter-tab {
    display: flex;
    /* flex: 1; */
    margin: 0;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Avenir','Lato', Helvetica,Arial , sans-serif;
    background-color: #ebebeb;
    color: #858383;
    transition: .3s;
}
.filter-tab:hover {
cursor: pointer;
    background-color: #D94558;    
    color: #fafafa;
    transition: .3s;
}
.first-tab {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.last-tab {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;  
}
.active-filter-tab {
    background-color: #D94558;
    /* font-weight: 500; */
    color: #fafafa;
}

@media (max-width: 600px) {
    .selected-work {
        margin-left: 5vw;
        font-size: 1.4rem;
    }
    .filter-wrappers {
        width: 130vw!important;
        margin-left: 5vw;
    }
    .filter-tab {
        display: flex;
        flex: 1;
        font-size: 1.1rem;
    }
}