.card-wrapper {
    height: 70vh;
    width: 90%;
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
}
.card-content {
    display: flex;
    flex-direction: column;
    flex: 1.1;
}
.card-content h1 {
    font-size: 2rem;
    margin-top: 20vh;
    margin-bottom: 4vh;
    font-weight: 900;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
    color: #323748;
}
.tags-wrapper {
    margin-top: -1vh;
    margin-left: 0vw;
}
.project-tag {
    font-size: 1.1rem!important;
    font-weight: 900!important;
    font-family: 'Avenir','Lato', Helvetica,Arial , sans-serif!important;
    color: #323748!important;
    opacity: .8;
}
.card-content p {
    margin-top: -1vh;
    font-size: 1.2rem;
    font-weight: 400;
    width: 95%;
    line-height: 3.5vh;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
    color: #545C78;
    /* opacity: .7; */
}
.blurb {
    margin-top: 1vh!important;
    /* border: 1px solid red; */
    font-size: 1.2rem;
    font-weight: 400;
    width: 95%;
    line-height: 3.5vh;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif;
    color: #545C78;  
}
.card-content-links {
    margin-top: 2vh!important;
}
.card-image {
    flex: 1.75;
    margin-right: 3vw;
    margin-top: 2%;
    height: 75%;
    border-radius: 5px;
}
.card-image img {
    width: 100%;
    height: auto;
    margin-left: 2.5%;
    box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.3);
    margin-top: 4vh;
    transition: .3s;
}
.card-image img:hover {
    box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.4);
    transition: .3s;
}
.view-case {
    width: 20%;
    opacity: 1!important;
    color: white;

    text-decoration: none;
}
.view-case-study {
    padding: 10px!important;
    white-space: nowrap;
    color: #fafafa!important;
    width: min-content;
    border-radius: 5px!important;
    font-size: 1rem!important;
    text-transform: capitalize!important;
    opacity: 1!important;
    font-weight: 500!important;
    background-color: #d94458!important;
    font-family: 'Avenir','Lato', Helvetica,Arial , sans-serif!important;
    margin-top: 1.5vh!important;
    box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.3);
}
.view-case-study:hover {
    /* background-color: #bd2d41!important; */
    text-decoration: none!important;
    box-shadow: 0px 5px 7px rgba(34, 34, 34, 0.3);
}
.view-case:hover {
    text-decoration: none;
}
.icon {
    color: #323748;
    transition: .3s ease-in-out;
}
.icon:hover {
    transition: .3s ease-in-out;
    color: #d94458;
}

@media screen and (min-width: 1900px) {
    .card-content h1 {
        font-size: 2.8rem;
    }
    .project-tag {
        font-size: 1.3rem!important;
    }
    .card-content p {
        margin-top: -1vh;
        font-size: 1.3rem;
    }
}
#paravel {
    text-decoration: none;
    font-weight: 600;
    color: #d94458;
    opacity: 1!important;
}

@media (max-width: 600px) {
    .card-wrapper {
        height: min-content;
        width: 130%;
        margin-left: 8vw;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10vh;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        flex: 1.1;
    }
}